<div class="container">
	<nav class="navbar nav-underline navbar-expand-lg bg-body-white">
		<div class="container-fluid">
			<a href="{{ path('app_index') }}" class="navbar-brand">
				<img src="{{ asset('assets/images/logo.jpg') }}" alt="logo Team2i">
			</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse text-center" id="navbarSupportedContent">

				<ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
					<li class="nav-item">
						<a href="{{ path('app_index') }}" class="nav-link {{ app.current_route == 'app_index' ? 'active' : '' }}" >OFFRES</a>
					</li>

					{% if app.user %}
						{% if app.user.typeUser == "societes"  %}
							<li class="nav-item">
								<a class="nav-link {{ app.current_route == 'offres.mes_offres' ? 'active' : '' }}" href="{{ path('offres.mes_offres') }}">Mes OFFRES
								</a> 
							</li> 
							<li class="nav-item">
								<a class="nav-link {{ app.current_route == 'offres.create' ? 'active' : '' }}" href="{{ path('offres.create') }}">Creer une offre
								</a>
							</li>
						{% elseif app.user.typeUser == "clients"%}
							<li class="nav-item">
								<a class="nav-link {{ app.current_route == 'user.mesCandidatures' ? 'active' : '' }}" href="{{ path('user.mesCandidatures') }}">Mes candidatures
								</a>
							</li>
						{% endif %}
					{% endif %}

					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item">
							<a class="nav-link {{ app.current_route == 'app_index' ? 'active' : '' }}" href="{{ path('app_index') }}">Administration
								<span class="visually-hidden">(current)</span>
							</a>
						</li>
					{% endif %}

					<li class="nav-item">
						<a class="nav-link {{ app.current_route == 'contact' ? 'active' : '' }}" href="{{ path('app_index') }}">Contact
						</a>
					</li>
				</ul>

				<div class="d-flex">
					<ul class="navbar-nav me-auto">
						{% if app.user %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.nom }}</a>
								<div class="dropdown-menu">
									{% if app.user.typeUser == "clients"  %}
										<a class="dropdown-item {{ app.current_route == 'user.edit' ? 'active' : '' }}" href="{{ path('user.edit') }}">Modifier mes informations</a>
										<a class="dropdown-item {{ app.current_route == 'user.password' ? 'active' : '' }}" href="{{ path('user.password') }}">Changer mot de passe</a>
									{% elseif app.user.typeUser == "societes"%}
										<a class="dropdown-item {{ app.current_route == 'societe.edit' ? 'active' : '' }}" href="{{ path('societe.edit') }}">Gérer mes informations</a>
										<a class="dropdown-item {{ app.current_route == 'societe.edit.password' ? 'active' : '' }}" href="{{ path('societe.edit.password') }}">Changer mot de passe</a>
									{% endif %}

									<div class="dropdown-divider"></div>
									
									{% if 'ROLE_ADMIN' in app.user.roles %}
										<a class="dropdown-item" href="{{ path('app_index') }}">Administration</a>
										<div class="dropdown-divider"></div>
									{% endif %}

									<a class="dropdown-item" href="{{ path('security.logout') }}">Déconnexion</a>
								</div>
							</li>
						{% else %}

							<li class="nav-item">
								<a class="nav-link {{ app.current_route == 'security.login' ? 'active' : '' }}" href="{{ path('security.login') }}">Connexion
								</a>
							</li>

							{% if app.current_route == 'security.registration.societe' or app.current_route == 'security.registration-client' %}
								<li class="nav-item">
									<a class="nav-link active" href="{{ path('security.registration') }}">Inscription
									</a>
								</li>
							{% else %}
								<li class="nav-item">
									<a class="nav-link {{ app.current_route == 'security.registration' ? 'active' : '' }}" href="{{ path('security.registration') }}">Inscription
									</a>
								</li>
							{% endif %}

						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</nav>
</div>
