{% extends 'base.html.twig' %}

{% block title  "Modification du mot de passe"%}
	
{% block body %}
	<main role="main">

		<section class="jumbotron text-center bg-light pt-4 pb-4">
			<div class="container">
				<h1 class="jumbotron-heading"> Modifier son mot de passe </h1>
			</div>
		</section>

		<div class="album bg-white">
			<div class="container">
				<div class="row">
					<div class="col-md-6 mx-auto">
						{{ form_start(form) }}
							
							<div class="field field-password">

								{{ form_label(form.password, null, {
									'label': 'Mot de passe actuel',
									'label_attr': {'class': 'mt-4'}
								}) }}
								{{ form_widget(form.password, { 'attr': {'class': 'mb-4'} }) }}
								{{ form_errors(form.password) }}
								
								<div class="password-show">
									<i data-feather="eye"></i>
								</div>
								<div class="password-hide">
									<i data-feather="eye-off"></i>
								</div>


								{{ form_label(form.plainPassword.first, null, {
									'label': 'Nouveau mot de passe',
									'label_attr': {'class': 'mt-4'}
								}) }}
								{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'mb-4'} }) }}
								{{ form_errors(form.plainPassword.first) }}

								<div class="password-show-2">
									<i data-feather="eye"></i>
								</div>
								<div class="password-hide-2">
									<i data-feather="eye-off"></i>
								</div>


								{{ form_label(form.plainPassword.second, null, {
									'label': 'Confirmer le mot de passe',
									'label_attr': {'class': 'mt-4'}
								}) }}
								{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'mb-4'} }) }}
								
								<div class="password-show-3">
									<i data-feather="eye"></i>
								</div>
								<div class="password-hide-3">
									<i data-feather="eye-off"></i>
								</div>

								{{ form_errors(form.plainPassword.second) }}

								<div class="row">
									<button class="btn btn-primary mb-2 mx-auto btn-form-submit" type="submit">
										Modifier
									</button>
								</div>

								<div>
									<p>
										<small>
											Votre mot de passe doit faire entre 8 et 20 caractères et contenir : </br>
											Au moins une majuscule </br>
											Au moins une minuscule </br>
											Au moins un chiffre </br>
											Et un caractère spécial : #?!@$%^&*- .
										</small>
									</P>
								</div>
                        </div>

						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>

	</main>
	
{% endblock %}


{% block jsfooter %}
<script src="https://unpkg.com/feather-icons"></script>
<script>
	feather.replace();

	const eye 		= document.querySelector(".feather-eye");
	const eyeoff 	= document.querySelector(".feather-eye-off");

    const eye_2 	= document.querySelector(".password-show-2>.feather-eye");
	const eyeoff_2 	= document.querySelector(".password-hide-2>.feather-eye-off");

	const eye_3 	= document.querySelector(".password-show-3>.feather-eye");
	const eyeoff_3 	= document.querySelector(".password-hide-3>.feather-eye-off");

	const passwordField = document.querySelector("input[type=password]");
    const passwordField_2 = document.querySelector("#user_password_plainPassword_first");
	const passwordField_3 = document.querySelector("#user_password_plainPassword_second");

	eye.addEventListener("click", () => {
		eye.style.display = "none";
		eyeoff.style.display = "block";
		passwordField.type = "text";
	});

	eyeoff.addEventListener("click", () => {
		eyeoff.style.display = "none";
		eye.style.display = "block";
		passwordField.type = "password";
	});

    eye_2.addEventListener("click", () => {
		eye_2.style.display = "none";
		eyeoff_2.style.display = "block";
		passwordField_2.type = "text";
	});

    eyeoff_2.addEventListener("click", () => {
		eyeoff_2.style.display = "none";
		eye_2.style.display = "block";
		passwordField_2.type = "password";
	});

	eye_3.addEventListener("click", () => {
		eye_3.style.display = "none";
		eyeoff_3.style.display = "block";
		passwordField_3.type = "text";
	});

    eyeoff_3.addEventListener("click", () => {
		eyeoff_3.style.display = "none";
		eye_3.style.display = "block";
		passwordField_3.type = "password";
	});

</script>
{% endblock %}
