{% extends 'base.html.twig' %}

{% block title %} Liste des societes {% endblock %}

{% block body %}

	<main role="main">
		<section class="jumbotron text-center bg-light pt-4 pb-4">
			<div class="container">
				<h1 class="jumbotron-heading"> Liste des societes </h1>
			</div>
		</section>

		<div class="album bg-white">
			<div class="container">
				{% if not societes.items is same as([]) %}
					
					<div class="count mt-4 mb-4"> Vous avez publié
						{{ societes.getTotalItemCount }} societe(s)
					</div>

					<table class="table table-striped table-bordered">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Nom</th>
								<th scope="col">Siret</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							{% for societe in societes %}
								<tr>
									<th scope="row">{{ societe.id }}</th>
									<td> {{societe.nom}} </a> </td>
									<td>{{societe.siret}}</td>
									<td>{{ societe.lieusociete }}</td>
									<td>
										<a  href="{{ path('societe.create.offre', {societe: societe.id}) }}" class="btn btn-primary"> Créer une mission </a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

					<div class="navigation d-flex justify-content-center mt-4">
						{{ knp_pagination_render(societes) }}
					</div>

				{% else %}
					<h4> Aucune societe trouvée !</h4>
				{% endif %}
			</div>
		</div>

	</main>

{% endblock %}
