{% extends 'base.html.twig' %}

{% block title "Mes informations personnelles" %} 

{% block body %}
	<main>
		<section class="jumbotron text-center bg-light pt-4 pb-4">
			<div class="container">
				<h1 class="jumbotron-heading"> Mes informations personnelles </h1>
			</div>
		</section>
		
		<div class="album bg-white">
			<div class="container">
				{{ form_start(form) }}

					<div class="row">
						<div class="col-6 mx-auto">
							<div class="row">

								<div class="col-md-6">
									<div class="form-group mt-4">
										{{ form_row(form.nom) }}
									</div>

									<div class="form-group mt-4">
										{{ form_row(form.adresse) }}
									</div>

									<div class="form-group mt-4">
										{{ form_row(form.cp) }}
									</div>

									<div class="form-group mt-4">
										{{ form_row(form.ville) }}
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group mt-4">
										{{ form_row(form.phone) }}
									</div>

									<div class="form-group mt-4">
										{{ form_row(form.tjm) }}
									</div>

									<div class="form-group mt-4">
										{{ form_row(form.siren) }}
									</div>

									<div class="form-group mt-4">
										{{ form_row(form.cvFile) }}
									</div>

									{% if user.cvName is defined and user.cvName is not null %}
										<div class="form-group mt-4">
											<a href="{{ asset('upload/cv/' ~ user.cvName) }}" target="_blank">Afficher mon cv</a>
											
										</div>
									{% else %}
										<div scope="form-group mt-4">
											<p class="text-muted">Aucun cv téléchargé</p>
										</div>
									{% endif %}
									
								</div>

								<div>
									{{ form_row(form.skills) }}
								</div>

								<button class="btn btn-lg btn-primary btn-block my-3" type="submit">
									Modifier
								</button>
							</div>
						</div>
					</div>

				{{ form_rest(form) }}
				{{ form_end(form) }}
			</div>
		</div>
	</main>
{% endblock %}

