{% extends 'base.html.twig' %}

{% block title %}Créer son compte free-lance
{% endblock %}

{% block body %}
	<div class="album py-5 connexion">
		<div class="container">
		<h1>
			Creer un compte
		</h1><br/>

		{{ form_start(registrationForm) }}

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						{{ form_row(registrationForm.nom) }}
					</div>

					<div class="form-group">
						{{ form_row(registrationForm.email) }}
					</div>

					<div class="form-group">
						{{ form_row(registrationForm.adresse) }}
					</div>

					<div class="form-group">
						<div class="row mt-0">
							<div class="col-md-4">	
								{{ form_row(registrationForm.cp) }}
							</div>
							<div class="col-md-8">
								{{ form_row(registrationForm.ville) }}
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">

					<div class="form-group">
						{{ form_row(registrationForm.phone) }}
					</div>

					<div class="form-group">
						{{ form_row(registrationForm.siren) }}
					</div>

					<div class="form-group">
						{{ form_row(registrationForm.cvFile) }}
					</div>

					<div class="form-group">
						{{ form_row(registrationForm.password) }}

						<p>
							<small>
								Votre mot de passe doit faire entre 8 et 20 caractères et contenir : </br>
								Au moins une majuscule </br>
								Au moins une minuscule </br>
								Au moins un chiffre </br>
								Et moins un caractère spécial : #?!@$%^&*- .
							</small>
						</P>
					</div>
				</div>
			</div>

			<div class="centre ">
				<button class="btn btn-primary mt-3 mb-2" type="submit">
					S'inscrire en tant que Free-lance
				</button>
			</div>

		{{ form_end(registrationForm) }}

		<div>
			<p>
				Déjà inscrit ?  
				<a href="{{ path('security.login') }}">
					Se connecter
				</a>
			</p>
		</div>
	</div>
	</div>
	
{% endblock %}
