{% extends 'base.html.twig' %}

{% block title %}Créer son compte
{% endblock %}

{% block body %}
	<div class="album py-5 connexion">
		<div class="container">
			<h1>
				Créer un compte client
			</h1>

			<p class="titre_inscription">
				Déjà membre ?
				<a href="{{ path('security.login') }}">
					Se connecter
				</a>
			</p>

			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm) }}

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						{{ form_label(registrationForm.nom) }}
						{{ form_widget(registrationForm.nom) }}
						<div class="form-error">
							{{ form_errors(registrationForm.nom) }}
						</div>
					</div>
					<div class="form-group">
						{{ form_label(registrationForm.imageFile) }}
						{{ form_widget(registrationForm.imageFile) }}
						<div class="form-error">
							{{ form_errors(registrationForm.imageFile) }}
						</div>
					</div>

					<div class="form-group">
						{{ form_label(registrationForm.email) }}
						{{ form_widget(registrationForm.email) }}
						<div class="form-error">
							{{ form_errors(registrationForm.email) }}
						</div>
					</div>

					<div class="form-group">
						{{ form_label(registrationForm.adresse) }}
						{{ form_widget(registrationForm.adresse) }}
						<div class="form-error">
							{{ form_errors(registrationForm.adresse) }}
						</div>
					</div>

					<div class="form-group">
						{{ form_label(registrationForm.cp) }}
						{{ form_widget(registrationForm.cp) }}
						<div class="form-error">
							{{ form_errors(registrationForm.cp) }}
						</div>
					</div>

					<div class="form-group">
						{{ form_label(registrationForm.description) }}
						{{ form_widget(registrationForm.description) }}
						<div class="form-error">
							{{ form_errors(registrationForm.description) }}
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						{{ form_label(registrationForm.ville) }}
						{{ form_widget(registrationForm.ville) }}
						<div class="form-error">
							{{ form_errors(registrationForm.ville) }}
						</div>
					</div>

					<div class="form-group">
						{{ form_label(registrationForm.phone) }}
						{{ form_widget(registrationForm.phone) }}
						<div class="form-error">
							{{ form_errors(registrationForm.phone) }}
						</div>
					</div>

					<div class="form-group">
						{{ form_label(registrationForm.siret) }}
						{{ form_widget(registrationForm.siret) }}
						<div class="form-error">
							{{ form_errors(registrationForm.siret) }}
						</div>
					</div>

					<div class="form-group">
						{{ form_label(registrationForm.password) }}
						{{ form_widget(registrationForm.password) }}
						<div class="form-error">
							{{ form_errors(registrationForm.password) }}
						</div>
					</div>
				</div>
			</div>

			<button class="btn btn-primary mt-4" type="submit">S'inscrire</button>

			{{ form_end(registrationForm) }}

			<div>
				<p>
					Déjà inscrit(e)?
					<a href="{{ path('security.login') }}">
						Se connecter
					</a>
				</p>
			</div>
			
		</div>
	</div>
{% endblock %}
