{% extends 'base.html.twig' %}

{% block title  "Connexion" %}

{% block body %}

	<main role="main">

		<section class="jumbotron text-center bg-light pt-4 pb-4">
			<div class="container">
				<h1 class="jumbotron-heading"> Creer un compte </h1>
			</div>
		</section>

		<div class="album py-3">
			<div class="container col-md-4">

				{% if error %}
					<div class="alert alert-danger">
						{{ error.messageKey|trans(error.messageData, 'security') }}
					</div>
				{% endif %}

				<form action="{{ path('security.login') }}" method="post" name="login">
					<div class="form-group">
						<label for="inputEmail" class="form-label">
							Email :
						</label>
						<input type="email" class="form-control" value="{{ last_username }}" name="email" id="inputEmail" placeholder="exemple@gmail.fr" autocomplete="email" required autofocus>
					</div>

					<div class="form-group my-3">
						<label for="inputPassword" class="form-label mt-4"> Mot de passe</label>
						password : Azerty24@
						<input type="password" class="form-control mb-2" name="password" id="inputPassword" autocomplete="current-password" placeholder="********" required>
						
						<div class="text-center">
							<button class="btn btn-sm btn-primary " type="submit">
								Se connecter
							</button>
						</div>

						<div class="form-group">
							<br/>
							<label class="form-label">
								<input class="form-checkbox text-primary mr-2" type="checkbox" name="_remember_me" checked>
								<span>
									Se souvenir de moi
								</span>
							</label>
						</div>

						<p>
							<a href="{{ path('app_forgot_password_request') }}">
								Mot de passe oublié ? |
							</a> Pas encore membre ?

							<a href="{{ path('security.registration-client') }}">
								Inscrivez-vous
							</a>
						</p>
					</div>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				</form>
				
			</div>
		</div>
		
	</main>
{% endblock %}
