{% extends 'base.html.twig' %}

{% block title %} Candidatures validées {% endblock %}

{% block body %}
	<main role="main">
		<section class="jumbotron text-center bg-light pt-4 pb-4">
			<div class="container">
				<h1 class="jumbotron-heading"> Liste des candidatures validées pour la mission : {{ mission.nom }} </h1>
			</div>
		</section>

		<div class="container mt-4">
			
			{% if not candidatures.items is same as([]) %}

				<div class="count mt-4 mb-4"> Il y a
					{{ candidatures.getTotalItemCount }}
					candidature(s) pour cette mission.
				</div>

				<table class="table table-striped table-bordered">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Nom</th>
							<th scope="col">TJM</th>
							<th scope="col">CV</th>
						</tr>
					</thead>
					<tbody>
						{% for candidature in candidatures %}
							<tr>
								<th scope="row">{{ candidature.clients.nom  }} </a></th>
								<td scope="row">{{ candidature.clients.tjm }} € </td>
								{% if candidature.clients.cvName is defined and candidature.clients.cvName is not null  %}
									<td scope="row">
										<a href="{{ asset('upload/cv/' ~ candidature.clients.cvName) }}" target="_blank">Afficher le CV</a>	/
										<a href="#" target="_blank"> Afficher le message </a>
									</td>
								{% else %}
									<td scope="row">
										<span class="text-muted">CV non disponible</span>
									</td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>

				<div class="navigation d-flex justify-content-center mt-4">
					{{ knp_pagination_render(candidatures) }}
				</div>

			{% else %}
				<h4>Aucune candidature trouvée !</h4>
			{% endif %}
		</div>
	</main>
{% endblock %}

