{% extends 'base.html.twig' %}

{% block title %} Candidature d'une mission {% endblock %}

{% block body %}
	<main role="main">
		<section class="jumbotron text-center bg-light pt-4 pb-4">
			<div class="container">
				<h1 class="jumbotron-heading"> Liste des candidatures pour la mission : {{ mission.nom }} </h1>
			</div>
		</section>

		<div class="container mt-4">
			
			{% if not candidatures.items is same as([]) %}

				<div class="count mt-4 mb-4"> Il y a
					{{ candidatures.getTotalItemCount }}
					candidature(s) pour cette mission.
				</div>

				<table class="table table-striped table-bordered">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Nom</th>
							<th scope="col">TJM</th>
							<th scope="col">CV</th>
							<th scope="col">Statut</th>
							<th scope="col">Profils</th>
							<th scope="col" colspan="3">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for candidature in candidatures %}
							<tr>
								<th scope="row"> {{ candidature.clients.nom  }} </a></th>
								<td scope="row"> {{ candidature.clients.tjm }} € </td>
								{% if candidature.clients.cvName is defined and candidature.clients.cvName is not null  %}
									<td scope="row">
										<a href="{{ asset('upload/cv/' ~ candidature.clients.cvName) }}" target="_blank">CV</a> /
										<a href="{{ path('offres.user.candidature', {id: candidature.id, slug: candidature.slug }) }}" >Afficher la candidature</a> 
									</td>
								{% else %}
									<td scope="row">
										<span class="text-muted">CV non disponible</span>
									</td>
								{% endif %}
								<td scope="row">
									{{ candidature.isRetenue == 1 ? "<span class='badge bg-success'> Retenue </span>" : candidature.isRetenue is null ? "<span class='badge bg-secondary'> Non traitée </span>"  : "<span class='badge bg-danger'> Refusée </span>" }}
								</td>
								<td>
									{% if not candidature.clients.skills is same as([]) %}
										<p>
											{% for skills in candidature.clients.skills %}
												<span class="badge badge-pill bg-primary">{{ skills.nom }}</span>
											{% endfor %}
										</p>
									{% else %}
										<p> Aucun profil trouvé !</p>
									{% endif %}
								</td>
								<td>
									<a  href="{{ path('offres.valider.candidature', {id: candidature.id}) }}" class="btn btn-success btn-sm"> Retenir </a>
									<a  href="{{ path('offres.refuser.candidature', {id: candidature.id}) }}" class="btn btn-danger btn-sm"> Refuser </a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

				<div class="navigation d-flex justify-content-center mt-4">
					{{ knp_pagination_render(candidatures) }}
				</div>

			{% else %}
				<h4>Aucune candidature trouvée !</h4>
			{% endif %}
		</div>
	</main>
{% endblock %}
