{% extends 'base.html.twig' %}

{% block title %} Liste des candidatures {% endblock %}

{% block body %}
	<div class="container mt-4 mx-auto">

		{% if not missions.items is same as([]) %}
			<h1> Liste des candidatures pour l'offre : {{ mission.nom }} </h1>

			<div class="count mt-4 mb-4"> Vous avez 
				{{ missions.getTotalItemCount }}
				pour cette mission.
			</div>

			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Ref mission</th>
						<th scope="col">Intitulé</th>
						<th scope="col">Nom du client</th>
						<th scope="col">Poste</th>
						<th scope="col">CV</th>
						<th scope="col" colspan="4">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for mission in missions %}
						<tr>
							<th scope="row">{{ mission.refMission }}</th>
							<td>{{ mission.nom }}</td>
							<td>{{ mission.startDateAT|date('d/m/Y') }}</td>
							<td>{{ mission.lieuMission }}</td>
							<td>
								{{ mission.tarif }} €
							</td>	
							<td> </td>
							<td>{{ mission.isActive ? 'oui' : 'non'}}  </td>
							<td>
								<a  href="{{ path('offres.show', {id: mission.id, slug: mission.slug}) }}" class="btn btn-primary"> Afficher </a>
							</td>
							<td>
								<a  href="{{ path('offres.show', {id: mission.id, slug: mission.slug}) }}" class="btn btn-info"> Candidatures </a>
							</td>
							<td>
								<a href="{{ path('offres.edit', { id: mission.id }) }}" class="btn btn-info">Modifier</a>
							</td>
							<td>
								<form method="post" action="{{ path('offres.delete', { id: mission.id }) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cette mission ?');" >
									<input type="hidden" name="_method" value="DELETE">
									<button type="submit" class="btn btn-danger btn-sm"> Supprimer </button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<div class="navigation d-flex justify-content-center mt-4">
				{{ knp_pagination_render(missions) }}
			</div>

		{% else %}
			<h4>Aucune missions trouvées !</h4>

			<a href="{{ path('offres.create') }}" class="btn btn-primary">
				Créer une mission
			</a>
		{% endif %}
	</div>
{% endblock %}
