{% extends 'base.html.twig' %}

{% block title %} Candidatures validées {% endblock %}

{% block body %}
	<div class="container mt-4">
		
		{% if not candidatures.items is same as([]) %}

			<h1> Candidatures validées pour la mission : {{ mission.nom }} </h1>

			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Ref mission</th>
						<th scope="col">Poste</th>
						<th scope="col">TJM</th>
						<th scope="col">CV</th>
						<th scope="col">email</th>
					</tr>
				</thead>
				<tbody>
					{% for candidature in candidatures %}
						<tr>
							<th scope="row"><a href="{{ path('app_show_offre', {id: mission.id, slug: mission.slug}) }}" > {{mission.nom}} </a></th>
							<td scope="row">{{ candidature.clients.id  }}</td>
							<td scope="row">{{ candidature.clients.tjm }} € </td>
							<td scope="row"> <a  href=""> cv </a> </td>
							<td scope="row"> état </td>
							<td>
								test@gmail
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<div class="navigation d-flex justify-content-center mt-4">
				{{ knp_pagination_render(candidatures) }}
			</div>

		{% else %}
			<h4>Aucune candidature trouvée !</h4>
		{% endif %}
	</div>
{% endblock %}
