{% extends "base.html.twig" %}

{% block title  "Modification d'un offre" %}

{% block body %}
	<main role="main">

		<section class="jumbotron text-center bg-light pt-4 pb-4">
			<div class="container">
				<h1 class="jumbotron-heading"> Edition de l'offre : {{ offre.nom }} </h1>
			</div>
		</section>

		<div class="album bg-white">
			<div class="container">
			
				{{ form_start(form) }}
					<div class="row mb-2">
						<div class="col-md-6">
							<div class="form-group">
								{{ form_row(form.nom) }}
							</div>
							<div class="form-group">
								{{ form_row(form.description) }}
							</div>

							<div class="form-group">
								<div class="row  ">
									<div class="col-md-4">{{ form_row(form.lieuMission) }}</div> 
									<div class="col-md-4">{{ form_row(form.tarif) }}</div> 
									<div class="col-md-4">{{ form_row(form.duree) }}</div> 
								</div> 
							</div>

							<div class="form-group">
								<div class="row  ">
									<div class="col-md-6">{{ form_row(form.startDateAT) }}</div> 
									<div class="col-md-6">{{ form_row(form.experience) }}</div> 
								</div> 
							</div>
						</div>

						<div class="col-md-6">

							<div class="form-group">
								{{ form_row(form.profil) }}
							</div>

							<div class="form-group">
								{{ form_row(form.contraintes) }}
							</div>

							<div class="form-group mt-3">
								{{ form_row(form.isActive) }}
							</div>
							
							<div class="form-group">
								{{ form_row(form._token) }}
							</div>
						</div>

						<div class="form-group">
							{{ form_row(form.skills) }}
						</div>

						<button class="btn btn-primary mt-4" type="submit">Modifier</button>
					</div>
				{{ form_end(form) }}
			</div>
		</div>

	</main>
{% endblock %}
